@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <title>权限管理系统</title>
    <meta charset="UTF-8">
    @*<meta name="viewport" content="width=device-width" />*@
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/Images/icon.css" rel="stylesheet" />
    <script src="~/Scripts/easyui/jquery.min.js"></script>
    <script src="~/Scripts/easyui/jquery.easyui.min.js"></script>
    <script src="~/Scripts/home.js"></script>
</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false,split:true" style="height:60px;">
        <div class="define-head">
            <div class="define-logo">
                <div id="LoginTopLine">Permissions Manager System</div>
                <div id="LoginBotoomLine">MVC5+EF6.0+EasyUI+Unity.Mvc5</div>
            </div>
            <div class="define-account">

            </div>
        </div>
    </div>
    <div data-options="region:'west',split:true,title:'菜单列表'" style="width: 200px; padding: 0px; background-color: #fff; overflow: auto">
        <div id="moduleAccordion"></div>
    </div>
    <div data-options="region:'south',border:false" style="height:20px;">
        <div class="define-bottom">
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <div id="mainTab" class="easyui-tabs" data-options="fit:true">
            <div title="我的桌面" data-options="closable:false" style="overflow: hidden; background:#fff">
                <iframe scrolling="auto" frameborder="0" src="/SysSample/Index" style="width: 100%; height: 100%;"></iframe>
            </div>
        </div>
    </div>
    <div id="tab_menu" class="easyui-menu" style="width: 150px;">
        <div id="tab_menu-tabrefresh" data-options="iconCls:'icon-reload'">
            刷新
        </div>
        <div id="tab_menu-openFrame">
            在新的窗体打开
        </div>
        <div id="tab_menu-tabcloseall">
            关闭所有
        </div>
        <div id="tab_menu-tabcloseother">
            关闭其他标签页
        </div>
        <div class="menu-sep">
        </div>
        <div id="tab_menu-tabcloseright">
            关闭右边
        </div>
        <div id="tab_menu-tabcloseleft">
            关闭左边
        </div>
        <div id="tab_menu-tabclose" data-options="iconCls:'icon-remove'">
            关闭
        </div>
        <div id="menu" class="easyui-menu" style="width: 150px;">
        </div>
    </div>
</body>
</html>
<script>
    $(function () {
        $("#moduleAccordion").accordion({
            fillSpace: true,
            fit: true,
            border: false,
            animate: true

        });
        $.post("/Home/GetModuleTree", { "id": 0 }, function (data) {
            if (data == "0") {
                window.location = "/Account";
            }
            $.each(data, function (index, v) {
                var id = v.id;
                var flag = index == 0 ? true : false;
                $('#moduleAccordion').accordion("add", {
                    title: v.text,
                    content: "<ul id='tree" + id + "'></div>",
                    selected: flag,
                    iconCls: v.iconCls
                });
                //$.parser.parse();
                $.post("/Home/GetModuleTree", { "id": id }, function (data) {//循环创建树的项
                    $("#tree" + id).tree({
                        data: data,
                        onBeforeExpand: function (node, param) {
                            $("#tree" + id).tree('options').url = "/Home/GetModuleTree/" + node.id;
                        },
                        onClick: function (node) {
                            if (node.attributes) {
                                var tabTitle = node.text;
                                var url = node.attributes;
                                    var icon = node.iconCls;
                                    addTab(tabTitle, url, icon);
                            } else {
                                if (node.state == 'closed') {
                                    $(this).tree('expand', node.target);
                                } else if (node.state == 'open') {
                                    $(this).tree('collapse', node.target);
                                }
                            }
                            //if (node.state == 'closed') {
                            //    $(this).tree('expand', node.target);
                            //} else if (node.state == 'open') {
                            //    $(this).tree('collapse', node.target);
                            //} else {
                            //    alert();
                            //    var tabTitle = node.text;
                            //    var url = "../../" + node.attributes;
                            //    var icon = node.iconCls;
                            //    addTab(tabTitle, url, icon);
                            //}
                        }
                    });
                }, 'json');
            });
        }, 'json');
    });
</script>